html{
    font-family:verdana; 
    font-size:11px;
}
html,body{
    margin:0;
    padding:0;
}
.wrapper{
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    max-height:100%;
    overflow-x:hidden;
}
.nav{
    background-color: #f1f1f1;
    padding: 20px;
}
.main{
   overflow:hidden;
   padding-left: 1rem;
   padding-right:1rem;
}

pre{
    max-width: 100%;
    overflow: scroll;
    color:rgb(153, 224, 46);
    background-color: darkslategray;
    border-radius:0.5rem;
    padding: 0.5rem;
    width:640px;
    height: 480px;
    margin:auto;
    resize: vertical;
} 